<?xml version="1.0"?>
<!--
/**
 * @author QuangChien(Glorious Victory) <quangchien01.it@gmail.com>
 * @copyright Copyright © 2023 QuangChien(Glorious Victory) <https://www.facebook.com/quangchien01>. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="delete_orders_command" xsi:type="object">Victory\DeleteOrders\Console\Delete</item>
            </argument>
        </arguments>
    </type>

    <preference for="Victory\DeleteOrders\Api\Data\LogSearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="Victory\DeleteOrders\Api\LogRepositoryInterface" type="Victory\DeleteOrders\Model\LogRepository" />
    <preference for="Victory\DeleteOrders\Api\Data\LogInterface" type="Victory\DeleteOrders\Model\Log" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="sales_order_log_listing_data_source" xsi:type="string">Victory\DeleteOrders\Model\ResourceModel\Log\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Victory\DeleteOrders\Model\ResourceModel\Log\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">gv_sales_order_delete_log</argument>
            <argument name="resourceModel" xsi:type="string">Victory\DeleteOrders\Model\ResourceModel\Log</argument>
        </arguments>
    </virtualType>
</config>
