<?xml version="1.0"?>
<!--
/**
 * @author QuangChien(Glorious Victory) <quangchien01.it@gmail.com>
 * @copyright Copyright © 2023 QuangChien(Glorious Victory) <https://www.facebook.com/quangchien01>. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="victory" translate="label" sortOrder="200">
            <label>Victory Extensions</label>
        </tab>
        <section id="delete_orders" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                 showInStore="1" >
            <class>separator-top</class>
            <label>Delete Orders</label>
            <tab>victory</tab>
            <resource>Victory_DeleteOrders::config</resource>
            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
